/* Style the input tag */
/* Product */
input[name="pid"], input[id="entryfee"], input[id="numofsessions" ], input[name="insertProductSubmit"], input[name="insertPackageSubmit"], input[id="monthlyfee"], input[id="numofmonths" ], input[name="insertMembershipSubmit"],input[name="reset"], input[name="displayTuples"], input[name="displayTuplesForMembership"], input[name="displayTuplesForPackage"] {
    width: 40%;
    padding: 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0px 15px 0px;
    box-shadow: 1px 1px 2px 1px grey; 
}
/* Customer */
input[name="displayTuplesForCustomer"], input[name="insertCustomerSubmit"] {   
    width: 40%;
    padding: 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0px 15px 0px;
    box-shadow: 1px 1px 2px 1px grey; 
}

/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 40%;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0px 15px 0px;
}

/* Product */
input[id="pid"] {
    width: 83%;
}
input[id="entryfee"] {
    width: 81%;
}
input[id="numofsessions" ] {
    width: 75%;
}
input[id="monthlyfee"] {
    width: 81%;
}
input[id="numofmonths" ] {
    width: 75%;
}
input[name="insertProductSubmit"] {
    width: 105%;
}
input[name="insertMembershipSubmit"] {
    width: 105%;
}
input[name="insertPackageSubmit"] {
    width: 105%;
}
input[name="displayTuples"] {
    width: 30%;
}
input[name="displayTuplesForMembership"] {
    width: 30%;
}
input[name="displayTuplesForPackage"] {
    width: 30%;
}
/* Customer */
input[name="displayTuplesForCustomer"] {
    width: 105%;
}
input[name="insertCustomerSubmit"] {
    width: 105%;
}

/* Style the font size */
label {
    font-size: 20px;
    margin-left: 4px;
    margin-right: 24px;
}

p {
    font-size: 20px;
    margin-right: 15px;
}

/* Product */
input[name="pid"], input[id="entryfee"], input[id="numofsessions" ], input[id="monthlyfee"], input[id="numofmonths" ], input[name="insertProductSubmit"], input[name="insertPackageSubmit"], input[name="insertMembershipSubmit"], input[name="reset"], input[name="displayTuples"], input[name="displayTuplesForMembership"], input[name="displayTuplesForPackage"] {
    font-size: 18px;
}
/* Customer */
input[name="displayTuplesForCustomer"], input[name="insertCustomerSubmit"] {
    font-size: 18px;
}